/* You can add global styles to this file, and also import other style files */
.node-menu {
  position: relative;
  width: 150px;
}

.node-menu ul {
  list-style-type: none;
}

.node-wrapper {
  margin: 15px 0;
}

.header-wrapper {
  display: flex;
}

.component-wrapper {
  padding-left: 35px;
  margin: 5px 0;
}

.child-nodes-wrapper {
  margin-left: 25px;
}

.node-menu .node-menu-content {
  left: 25px;
  top: -25px;
  width: 100%;
  padding: 5px;
  position: absolute;
  border: 1px solid #bdbdbd;
  border-radius: 5%;
  box-shadow: 0 0 5px #bdbdbd;
  background-color: #eee;
  color: #212121;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: 999;
}

.node-menu .node-menu-content .node-menu-item:hover {
  border-radius: 5%;
  opacity: unset;
  cursor: pointer;
  background-color: #bdbdbd;
  transition: background-color 0.5s ease-out;
}

.node-label {
  display: inline-block;
}

.pop-up-menu-host {
  display: inline-block;
}

.component-host {
}

.node-header-host {
  display: inline-block;
}

.node-collapse-icon {
  width: 25px;
  padding: 0 5px;
}

.node-collapse-icon.is-expanded:before {
  content: '\25BC';
  color: #757575;
}

.node-collapse-icon.is-collapsed:before {
  content: '\25B6';
  color: #757575;
}

.node-collapse-icon.not-root:before {
  content: '-';
}


